
<div id="quickstart" class="standardContainer">
    <div class="ui container">
        <h1 class="ui header">
            <img src="img/res/1F44B.png">
            <div class="content" style="font-weight: lighter;">
              欢迎使用 Zoraxy！
              <div class="sub header">今天您打算配置哪些服务？</div>
            </div>
        </h1>
        <br>
        <div class="ui stackable equal width grid">
            <div class="column">
                <div class="serviceOption homepage" name="homepage">
                    <div class="titleWrapper">
                        <p>基础首页</p>
                    </div>
                    <div class="ui divider"></div>
                    <p>使用 Zoraxy 托管静态首页，并将域名指向您的 Web 服务器。</p>
                    <img class="themebackground ui small image" src="img/res/1F310.png">
                    <div class="activeOption">
                        <i class="ui white huge circle check icon"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="serviceOption subdomain" name="subdomain">
                    <div class="titleWrapper">
                        <p>子域名路由</p>
                    </div>
                    <div class="ui divider"></div>
                    <p>添加并处理子域名流量，将其指向其他位置的专用 Web 服务。</p>
                    <img class="themebackground ui small image" src="img/res/1F500.png">
                    <div class="activeOption">
                        <i class="ui white huge circle check icon"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="serviceOption tls" name="tls">
                    <div class="titleWrapper">
                        <p>HTTPS 安全锁</p>
                    </div>
                    <div class="ui divider"></div>
                    <p>使用公共证书机构提供的免费证书，将不安全的 HTTP 网站升级为 HTTPS。</p>
                    <img class="themebackground ui small image" src="img/res/1F512.png">
                    <div class="activeOption">
                        <i class="ui white huge circle check icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div style="width: 100%;" align="center">
            <button onclick="startQuickStartTour();" class="ui finished button quickstartControlButton">
                开始向导
            </button>
        </div>
    </div>
    
</div>
<script>
    var currentQuickSetupClass = "";
    var currentQuickSetupTourStep = 0;
    //For tour logic, see quicksetup.js


    //Bind selecting events to serviceOption
    $("#quickstart .serviceOption").on("click", function(data){
        $(".serviceOption.active").removeClass("active");
        $(this).addClass("active");
        let tourType = $(this).attr("name");
        currentQuickSetupClass = tourType;
    });
   
</script>
<script src="script/quicksetup.js"></script>