<!-- Proxy Create Form-->
<style>
    .rulesInstructions{
        background: var(--theme_background) !important; 
        color: var(--theme_lgrey);
        border-radius: 1em !important;
    }

    .ui.form .sub.field{
        background-color: var(--theme_advance);
        border-radius: 0.6em;
        padding: 1em;
    }

    .descheader{
        display:none !important;
    }

    @media (min-width: 1367px) {
        .descheader{
            display:auto !important;

        }
    }
</style>
<div class="standardContainer">
    <div class="ui stackable grid">
        <div class="ten wide column">
            <div class="ui basic segment" style="border-radius: 1em; padding: 1em !important;">
                <h2>新建代理规则</h2>
                <p>可添加更多代理规则，通过域名/子域名支持更多站点。</p>
                <div class="ui form">
                    <div class="field" tourstep="matchingkeyword">
                        <label>匹配关键词 / 域名</label>
                        <input type="text" id="rootname" placeholder="mydomain.com">
                        <small>支持子域名与通配符，如 s1.mydomain.com 或 *.test.mydomain.com。多个主机名用逗号分隔。</small>
                    </div>
                    <div class="field" tourstep="targetdomain">
                        <label>目标 IP 或域名（含端口）</label>
                            <input type="text" id="proxyDomain" onchange="autoFillTargetTLS(this);">
                        <small>例如 192.168.0.101:8000 或 example.com</small>
                    </div>
                    <div class="field dockerOptimizations" style="display:none;">
                        <button style="margin-top: -2em;" class="ui basic small button" onclick="openDockerContainersList();"><i class="blue docker icon"></i> 从 Docker 容器选择</button>
                    </div>
                    <div class="field" tourstep="requireTLS">
                        <div class="ui checkbox">
                            <input type="checkbox" id="reqTls">
                            <label>代理目标需要 TLS 连接 <br><small>（即目标地址为 https:// 开头）</small></label>
                        </div>
                    </div>
                    <!-- Advance configs -->
                    <div class="ui basic segment advanceoptions">
                        <div id="advanceProxyRules" class="ui fluid accordion">
                            <div class="title">
                            <i class="dropdown icon"></i>
                            高级设置
                            </div>
                            <div class="content">
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="useStickySessionLB">
                                        <label>粘性会话<br><small>在上游负载均衡中启用粘性会话</small></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="enableUtm" checked>
                                        <label>启用运行监控<br><small>自动检测上游状态，离线时切换至其他节点</small>
                                        </label>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>标签</label>
                                    <input type="text" id="proxyTags" placeholder="例如 mediaserver, management">
                                    <small>该代理主机的标签，逗号分隔。</small>
                                </div>
                                <div class="ui horizontal divider">
                                    <i class="ui green lock icon"></i>
                                    安全
                                </div>
                                <div class="field" tourstep="skipTLSValidation">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="skipTLSValidation">
                                        <label>忽略 TLS/SSL 验证错误<br><small>用于自签名、过期证书目标（不推荐）</small></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="skipWebsocketOriginCheck" checked>
                                        <label>跳过 WebSocket 来源检查<br><small>允许跨域 WebSocket 请求（通常无安全顾虑）</small></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="bypassGlobalTLS">
                                        <label>允许纯 HTTP 访问<br><small>允许该子域名不经 TLS 连接（需启用 80 端口 HTTP 服务）</small></label>
                                    </div>
                                </div>
                                <br>
                                <div class="field">
                                    <label><b>漏洞防护</b></label>
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="blockCommonExploits">
                                        <label>拦截常见漏洞利用<br>
                                            <small>检测并拦截常见攻击载荷（SQL 注入、XSS、路径遍历等）</small>
                                        </label>
                                    </div>
                                    <br><br>
                                    <div class="ui checkbox" >
                                        <input type="checkbox" id="blockAICrawlers">
                                        <label>拦截 AI 与爬虫<br>
                                            <small>拦截已知爬虫与大规模自动化访问</small>
                                        </label>
                                    </div>
                                    <br><br>
                                    <label>处置动作</label >
                                    <div class="ui fluid selection dropdown">
                                        <input type="hidden" id="mitigationAction" value="0">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">检测到漏洞利用/爬虫时采取的动作</div>
                                        <div class="menu">
                                            <div class="item" data-value="0">404 未找到</div>
                                            <div class="item" data-value="1">403 禁止访问</div>
                                            <div class="item" data-value="2">400 错误请求</div>
                                            <div class="item" data-value="3">断开连接</div>
                                            <div class="disabled item" data-value="4">验证码挑战</div> <!-- Work in progress -->
                                        </div>
                                    </div>
                                    <small style="opacity:0.7;">选择检测到恶意或自动化流量时的响应方式。</small>
                                </div>

                                <div class="ui horizontal divider">
                                    <i class="ui red ban icon"></i>
                                    访问控制
                                </div>
                                <div class="field">
                                    <label>访问规则</label>
                                    <div class="ui selection dropdown">
                                        <input type="hidden" id="newProxyRuleAccessFilter" value="default">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">默认</div>
                                        <div class="menu" id="newProxyRuleAccessList">
                                            <div class="item" data-value="default"><i class="ui yellow star icon"></i> 默认</div>
                                        </div>
                                    </div>
                                    <small>使用黑名单或白名单进行地区访问控制。「默认」表示允许全部。</small>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="requireBasicAuth">
                                        <label>需要基础认证<br><small>访问该页面需先登录</small></label>
                                    </div>
                                </div>
                                <div id="basicAuthCredentials" class="field">
                                    <p>输入允许访问此代理端点的用户名和密码</p>
                                    <table class="ui very basic celled table">
                                        <thead>
                                        <tr>
                                            <th>用户名</th>
                                            <th>密码</th>
                                            <th>移除</th>
                                        </tr></thead>
                                        <tbody id="basicAuthCredentialTable">
                                        <tr>
                                            <td colspan="3"><i class="ui green circle check icon"></i> 未添加凭据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="three small fields credentialEntry">
                                        <div class="field">
                                            <input id="basicAuthCredUsername" type="text" placeholder="用户名" autocomplete="off">
                                        </div>
                                        <div class="field">
                                            <input id="basicAuthCredPassword" type="password" placeholder="密码" autocomplete="off">
                                        </div>
                                        <div class="field">
                                            <button class="ui basic button" onclick="addCredentials();"><i class="blue add icon"></i> 添加凭据</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="requireRateLimit">
                                        <label>启用速率限制<br><small>此代理端点将受速率限制。</small></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>速率限制</label>
                                    <div class="ui fluid right labeled input">
                                        <input type="number" id="proxyRateLimit" placeholder="100" min="1" max="1000" value="100">
                                        <div class="ui basic label">
                                           请求/秒/IP
                                        </div>
                                    </div>
                                    <small>超过速率限制时返回 429 错误。</small>
                                </div>
                                <div class="ui horizontal divider">
                                    <i class="ui text file icon"></i>
                                    日志
                                </div>
                                 <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="disableLog">
                                        <label>关闭请求日志<br><small>关闭该主机的请求日志，适合高流量站点</small>
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="disableStatisticCollection">
                                        <label>关闭统计收集<br><small>不收集该主机名的统计，但保留请求日志</small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div tourstep="newProxyRule" style="display: inline-block;">
                        <button class="ui basic button" onclick="newProxyEndpoint();"><i class="green add icon"></i> 创建端点</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment rulesInstructions">
                <div class="ui fluid styled accordion" id="matchingKeywordExamplesAccordion" style="background-color: transparent !important;">
                    <div class="title active" style="color: white;">
                        <i class="dropdown icon"></i>
                        匹配关键词示例
                    </div>
                    <div class="content active">
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui yellow star icon"></i> 域名</span><br>
                        域名匹配示例：<br>
                        <code>aroz.org</code> <br>所有访问 aroz.org 的请求将代理到下方填写的目标<br>
                        <div class="ui divider"></div>
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui yellow star icon"></i> 子域名</span><br>
                        子域名匹配示例：<br>
                        <code>s1.aroz.org</code> <br>所有主机名为 s1.aroz.org 的请求将代理到下方目标<br>
                        <div class="ui divider"></div>
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui yellow star icon"></i> 通配符</span><br>
                        通配符匹配示例：<br>
                        <code>*.aroz.org</code> <br>主机名符合 *.aroz.org 的请求将代理到下方目标，例如：<br>
                        <div class="ui list">
                            <div class="item"><code>www.aroz.org</code></div>
                            <div class="item"><code>foo.bar.aroz.org</code></div>
                        </div>
                        <br>
                    </div>

                    <div class="title" style="color: white;">
                        <i class="dropdown icon"></i>
                        目标需要 TLS
                    </div>
                    <div class="content">
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui green lock icon"></i> 上游 TLS 要求</span><br>
                        <p>
                            勾选 <b>代理目标需要 TLS 连接</b> 表示<b>上游服务器</b>（你代理到的目标）要求使用 HTTPS。<br>
                            <b>与客户端访问本代理使用 HTTP 还是 HTTPS 无关。</b>
                        </p>
                        <div class="ui divider"></div>
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui yellow star icon"></i> 示例</span><br>
                        <code>匹配关键词：mydomain.com<br>
                        目标：example.com:443（已启用 TLS）</code><br>
                        <ul>
                            <li>客户端访问 <b>mydomain.com</b>（HTTP 或 HTTPS 由代理配置决定）</li>
                            <li>代理以 <b>HTTPS</b> 转发到 <b>example.com:443</b></li>
                        </ul>
                        <small>
                            若上游仅接受安全连接可勾选此项。<br>
                            若上游使用自签名证书，请在高级设置中勾选 <b>忽略 TLS/SSL 验证错误</b>。
                        </small>
                    </div>

                    <div class="title" style="color: white;">
                        <i class="dropdown icon"></i>
                        什么是粘性会话？
                    </div>
                    <div class="content">
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui green sync icon"></i> 粘性会话（会话保持）</span><br>
                        <p>
                            粘性会话保证同一客户端的请求始终转发到同一上游。适用于在本地保存会话、需要客户端固定连到同一后端的应用。
                        </p>
                        <div class="ui divider"></div>
                        <span style="font-size: 1.2em; font-weight: 300;"><i class="ui yellow star icon"></i> 如何添加多个上游</span><br>
                        <ul>
                            <li>在侧栏进入 <b>HTTP 代理</b>。</li>
                            <li>在对应代理规则上点击 <b>编辑</b>。</li>
                            <li>在 <b>上游</b> 中添加多个上游端点以实现负载均衡。</li>
                        </ul>
                        <small>
                            仅当配置了多个上游时粘性会话才会生效。
                        </small>
                    </div>
                </div>
                <script>
                    $('#matchingKeywordExamplesAccordion').accordion();
                </script>
            </div>
        </div>
    </div>
</div>
<script>

    //New Proxy Endpoint
    function newProxyEndpoint(){
        let rootname = $("#rootname").val();
        let proxyDomain = $("#proxyDomain").val();
        let useTLS = $("#reqTls")[0].checked;
        let skipTLSValidation = $("#skipTLSValidation")[0].checked;
        let bypassGlobalTLS = $("#bypassGlobalTLS")[0].checked;
        let requireBasicAuth = $("#requireBasicAuth")[0].checked;
        let proxyRateLimit = $("#proxyRateLimit").val();
        let requireRateLimit = $("#requireRateLimit")[0].checked;
        let skipWebSocketOriginCheck = $("#skipWebsocketOriginCheck")[0].checked;
        let accessRuleToUse = $("#newProxyRuleAccessFilter").val();
        let useStickySessionLB = $("#useStickySessionLB")[0].checked; 
        let tags = $("#proxyTags").val().trim();
        let enableUtm = $("#enableUtm")[0].checked;
        let disableLog = $("#disableLog")[0].checked;
        let disableStatisticCollection = $("#disableStatisticCollection")[0].checked;
        let blockCommonExploits = $("#blockCommonExploits")[0].checked;
        let blockAICrawlers = $("#blockAICrawlers")[0].checked;
        let mitigationAction = $("#mitigationAction").val();

        if (rootname.trim() == ""){
            $("#rootname").parent().addClass("error");
            return
        }else{
            $("#rootname").parent().removeClass("error");
        }

        if (proxyDomain.trim() == ""){
            $("#proxyDomain").parent().addClass("error");
            return
        }else{
            $("#proxyDomain").parent().removeClass("error");
        }

        //Create the endpoint by calling add
        $.cjax({
            url: "/api/proxy/add",
            method: "POST",
            data: {
                type: "host",
                rootname: rootname, 
                tls: useTLS, 
                ep: proxyDomain,
                tlsval: skipTLSValidation,
                bpwsorg: skipWebSocketOriginCheck,
                bypassGlobalTLS: bypassGlobalTLS,
                bauth: requireBasicAuth,
                rate: requireRateLimit,
                ratenum: proxyRateLimit,
                cred: JSON.stringify(credentials),
                access: accessRuleToUse,
                stickysess: useStickySessionLB,
                tags: tags,
                enableUtm: enableUtm,
                disableLog: disableLog,
                dStatisticCollection: disableStatisticCollection,
                blockCommonExploits: blockCommonExploits,
                blockAICrawlers: blockAICrawlers,
                mitigationAction: mitigationAction,
            },
            success: function(data){
                if (data.error != undefined){
                    msgbox(data.error, false, 5000);
                }else{
                    //Clear old data
                    $("#rootname").val("");
                    $("#proxyDomain").val("");
                    $("#proxyTags").val("");
                    $("#blockCommonExploits").prop("checked", false);
                    $("#blockAICrawlers").prop("checked", false);
                    $("#mitigationAction").parent().dropdown("set selected", "0");
                    $("#disableStatisticCollection").prop("checked", false);
                    credentials = [];
                    updateTable();
                    reloadUptimeList();
                    //Check if it is a new subdomain and TLS enabled
                    if ($("#tls").checkbox("is checked")){
                        confirmBox("Request new SSL Cert for this subdomain?", function(choice){
                            if (choice == true){
                                //Load the prefer CA from TLS page
                                let defaultCA = $("#defaultCA").dropdown("get value");
                                if (defaultCA.trim() == ""){
                                    defaultCA = "Let's Encrypt";
                                }
                                //Get a new cert using ACME
                                msgbox("正在通过 " + defaultCA + " 申请证书...");
                                console.log("Trying to get a new certificate via ACME");

                                //Request ACME for certificate, see cert.html component
                                obtainCertificate(rootname, defaultCA.trim(), function(){
                                     // Renew the parent certificate list
                                    initManagedDomainCertificateList();
                                });
                            }else{
                                msgbox("代理端点已添加");
                            }
                        });
                    }else{
                        msgbox("代理端点已添加");
                    }
                }
            }
        });
        
    }

    //Clearn the proxy target value, make sure user do not enter http:// or https://
    //and auto select TLS checkbox if https:// exists
    function autoFillTargetTLS(input){
        let targetDomain = $(input).val().trim();
        if (targetDomain.startsWith("http://")){
            targetDomain = targetDomain.substr(7);
            $(input).val(targetDomain);
            $("#reqTls").parent().checkbox("set unchecked");
        }else if (targetDomain.startsWith("https://")){
            targetDomain = targetDomain.substr(8);
            $(input).val(targetDomain);
            $("#reqTls").parent().checkbox("set checked");
        }else{
            //No http or https was given. Sniff it
            autoCheckTls(targetDomain);
        }
    }
    

    //Automatic check if the site require TLS and check the checkbox if needed
    function autoCheckTls(targetDomain){
       $.cjax({
            url: "/api/proxy/tlscheck?selfsignchk=true",
            data: {url: targetDomain},
            success: function(data){
                if (data.error != undefined){
                    msgbox(data.error, false);
                }else{
                    //Check if the site require TLS
                    if (data.protocol == "https"){
                        $("#reqTls").parent().checkbox("set checked");
                    }else if (data.protocol == "http"){
                        $("#reqTls").parent().checkbox("set unchecked");
                    }
                    //Check if the site is using self-signed cert
                    if (data.selfsign){
                        $("#skipTLSValidation").parent().checkbox("set checked");
                    }else{
                        $("#skipTLSValidation").parent().checkbox("set unchecked");
                    }
                    
                }
            }
       })
    }


    function toggleBasicAuth() {
        var basicAuthDiv = document.getElementById('basicAuthOnly');
        if ($("#requireBasicAuth").parent().checkbox("is checked")) {
            $("#basicAuthCredentials").removeClass("disabled");
        } else {
            $("#basicAuthCredentials").addClass("disabled");
        }
    }
    $("#requireBasicAuth").on('change', toggleBasicAuth);
    toggleBasicAuth();
    
    function toggleRateLimit() {
        if ($("#requireRateLimit").parent().checkbox("is checked")) {
            $("#proxyRateLimit").parent().parent().removeClass("disabled");
        } else {
            $("#proxyRateLimit").parent().parent().addClass("disabled");
        }
    }
    $("#requireRateLimit").on('change', toggleRateLimit);
    toggleRateLimit();

    function toggleStatisticCollection() {
        if ($("#disableLog").parent().checkbox("is checked")) {
            $("#disableStatisticCollection").parent().checkbox("set checked");
            $("#disableStatisticCollection").parent().addClass("disabled");
        } else {
            $("#disableStatisticCollection").parent().removeClass("disabled");
        }
    }
    $("#disableLog").on('change', toggleStatisticCollection);
    toggleStatisticCollection();


    /*
        Credential Managements

    */
    let credentials = []; // Global variable to store credentials

    function addCredentials() {
        // Retrieve the username and password input values
        var username = $('#basicAuthCredUsername').val();
        var password = $('#basicAuthCredPassword').val();
        
        if(username == "" || password == ""){
            msgbox("用户名或密码不能为空", false, 5000);
            return;
        }
        
        // Create a new credential object
        var credential = {
            username: username,
            password: password
        };

        // Add the credential to the global credentials array
        credentials.push(credential);

        // Clear the input fields
        $('#basicAuthCredUsername').val('');
        $('#basicAuthCredPassword').val('');

        // Update the table body with the credentials
        updateTable();
    }

    function updateTable() {
        var tableBody = $('#basicAuthCredentialTable');
        tableBody.empty();

        if (credentials.length === 0) {
            tableBody.append('<tr><td colspan="3"><i class="ui green circle check icon"></i> No Entered Credential</td></tr>');
        } else {
            for (var i = 0; i < credentials.length; i++) {
            var credential = credentials[i];
            var username = credential.username;
            var password = credential.password.replace(/./g, '*'); // Replace each character with '*'

            var row = '<tr>' +
                '<td>' + username + '</td>' +
                '<td>' + password + '</td>' +
                '<td><button class="ui basic button" onclick="removeCredential(' + i + ');"><i class="red remove icon"></i> Remove</button></td>' +
                '</tr>';

            tableBody.append(row);
            }
        }
    }

    function removeCredential(index) {
        // Remove the credential from the credentials array
        credentials.splice(index, 1);

        // Update the table body
        updateTable();
    }

    

    //Update v3.0.0
    //Since some proxy rules now contains wildcard characters
    //all uuid are converted to hex code before use in DOM selector

    String.prototype.hexEncode = function(){
        var hex, i;

        var result = "";
        for (i=0; i<this.length; i++) {
            hex = this.charCodeAt(i).toString(16);
            result += ("000"+hex).slice(-4);
        }

        return result
    }

    String.prototype.hexDecode = function(){
        var j;
        var hexes = this.match(/.{1,4}/g) || [];
        var back = "";
        for(j = 0; j<hexes.length; j++) {
            back += String.fromCharCode(parseInt(hexes[j], 16));
        }

        return back;
    }

    /*
        Access Rule dropdown Initialization
    */

    function initNewProxyRuleAccessDropdownList(callback=undefined){
        $.get("/api/access/list", function(data){
            if (data.error == undefined){
                $("#newProxyRuleAccessList").html("");
                data.forEach(function(rule){
                    let icon = `<i class="ui grey filter icon"></i>`;
                    if (rule.ID == "default"){
                        icon = `<i class="ui yellow star icon"></i>`;
                    }else if (rule.BlacklistEnabled && !rule.WhitelistEnabled){
                        //This is a blacklist filter
                        icon = `<i class="ui red filter icon"></i>`;
                    }else if (rule.WhitelistEnabled && !rule.BlacklistEnabled){
                        //This is a whitelist filter
                        icon = `<i class="ui green filter icon"></i>`;
                    }
                    $("#newProxyRuleAccessList").append(`<div class="item" data-value="${rule.ID}">${icon} ${rule.Name}</div>`);
                });
                $("#newProxyRuleAccessFilter").parent().dropdown();
                if (callback != undefined){
                    callback();
                }
            }else{
                msgbox("加载访问规则失败：" + data.error, false);
            }
        })
    }
    initNewProxyRuleAccessDropdownList();

    //Bind on tab switch events
    tabSwitchEventBind["rules"] = function(){
        //Update the access rule list
        initNewProxyRuleAccessDropdownList();
    }

    /* Docker Optimizations */
    function initDockerUXOptimizations(){
        $.get("/api/docker/available", function(dockerAvailable){
            if (dockerAvailable){
                $(".dockerOptimizations").show();
            }else{
                $(".dockerOptimizations").hide();
            }
        });
    }
    initDockerUXOptimizations();
    
    function openDockerContainersList(){
        showSideWrapper('snippet/dockerContainersList.html');
    }

    function addContainerItem(item) {
        $('#rootname').val(item.name);
        $('#proxyDomain').val(`${item.ip}:${item.port}`)
        hideSideWrapper(true);
    }
    
    /* UI Element Initialization */
    function initAdvanceSettingsAccordion(){
        function hasClickEvent(element) {
            var events = $._data(element, "events");
            return events && events.click && events.click.length > 0;
        }

         $("#advanceProxyRules").accordion();
        if (!hasClickEvent($("#advanceProxyRules"))){
            // Not sure why sometime the accordion events are not binding
            // to the DOM element. This makes sure the element is binded
            // correctly by checking it again after 300ms
            $("#advanceProxyRules").accordion();
            $("#newProxyRuleAccessFilter").parent().dropdown();
            $("#mitigationAction").parent().dropdown();
            setTimeout(function(){
                initAdvanceSettingsAccordion();
            }, 300);
        }
    }
    initAdvanceSettingsAccordion();
   
 
   
</script>
